body
    color $mainColor
    font-size 20px

    li
        margin-bottom 10px

        a
            color $mainColor
            text-decoration none

            &:hover
                color lighten($mainColor, 20)
                text-decoration underline
