datepicker
    &[disabled="disabled"]
        input
            color rgb(84, 84, 84)
            cursor default
            pointer-events none
            background-color rgb(235, 235, 228)

    ._720kb-datepicker-calendar
        &._720kb-datepicker-open
            width 200px